<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psychological.cxks">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegistActivity" />
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity android:name=".ui.activity.OrderListActivity" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.ExpertDetailActivity" />
        <activity android:name=".ui.activity.EvaluateActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.FavoriteActivity" />
        <activity android:name=".ui.activity.ChangePWDActivity" />
        <activity android:name=".ui.activity.VisitorInfoActivity" />
        <activity android:name=".ui.activity.CouponsListActivity" />
        <activity android:name=".ui.activity.ConsumerEvaluateActivity" />
        <activity android:name=".ui.activity.ReservationActivity" />
        <activity android:name=".ui.activity.CouponsDetailActivity" />
        <activity android:name=".ui.activity.ChooseCouponsActivity" />
        <activity android:name=".ui.activity.ReservationTimeActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.EMainActivity" />
        <activity android:name=".ui.activity.EMyOrdersActivity" />
        <activity android:name=".ui.activity.EMyCustomerActivity" />
        <activity android:name=".ui.activity.EMySchedulerActivity" />
        <activity android:name=".ui.activity.EZiXunShiShareActivity" />
        <activity android:name=".ui.activity.EMyPackgeActivity" />
        <activity android:name=".ui.activity.EDiscountCodeActivity" />
        <activity android:name=".ui.activity.EIncomeActivity" />
        <activity android:name=".ui.activity.ECustomerDetailActivity" />
        <activity android:name=".ui.activity.EMyInfoActivity" />
        <activity android:name=".ui.activity.EEditPackgeActivity" />
        <activity android:name=".ui.activity.EZiXunShiDetailActivity" />

        <activity android:name=".ui.activity.LabelsActivity" />
        <activity android:name=".ui.activity.UploadPhotoActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
    </application>

</manifest>